<div id="site-footer">
  <div>
    <div class="social-media">
      <a href="mailto:antoineboxho@gmail.com" ><img src="assets/social/gmail.svg"></a>
      <a href="https://www.linkedin.com/in/antoine-boxho/" ><img src="assets/social/linkedin.svg"></a>
      <a href="https://medium.com/@antoineboxho" ><img src="assets/social/medium.svg"></a>
      <a href="https://github.com/C00kieMonsta" ><img src="assets/social/github.svg"></a>
    </div>
    <p class="copyright contact-form">Antoine Boxho</p>
    <p class="contact-form">antoineboxho@gmail.com</p>
    <p class="contact-form">+32 479.55.39.94</p>
    <p class="signature">Powered by A. Boxho &copy; {{fullYear}} - v{{version}}</p>
  </div>
</div>
