.about-container {
  justify-content: center;
  width: 100%;
  margin-top: 32px;
}

h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 45px;
  margin-top: 0px;
  margin-left: 16px;
}

h3 {
  font-weight: 400;
  margin-left: 16px;
  font-size: 20px;
  color: #777777;
}

p {
  margin-left: 16px;
}

.bio-container {
  display: flex;
  flex-direction: column;

  .description {
    flex: 2;
    margin-bottom: 16px;
  }

  .picture {
    flex: 1;
    margin-top: 16px;
  }

}

.bio-container img {
  width: 80%;
  margin-bottom: -4px;
}

@media screen and (min-width: 650px) {

  .bio-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .description {
      flex: 2;
      margin-bottom: 0px;
    }

    .picture {
      flex: 1;
      margin-top: 0px;
      margin-left: 16px;
      margin-right: 16px;
    }

  }

  .bio-container img {
    width: 100%;
    min-width: 350px;
    margin-bottom: 0px;
  }
}
