<section id="portfolio">

  <div class="photo">
    
    <a target="_blank" href="https://www.joyskombucha.be/" data-toggle="lightbox" data-lity class="link" >
      <div class="image-container">
        <img src="https://c00kiemonsta-public-images.s3.eu-central-1.amazonaws.com/me/design/joys/joys-1.jpg">
        <div class="after">
          <h2 class="ordi">Joys<br><br><b>Kombuch</b></h2>
        </div>
      </div>
    </a>
    
    <a target="_blank" href="https://www.joyskombucha.be/" data-toggle="lightbox" data-lity class="link" >
      <div class="image-container">
        <img src="https://c00kiemonsta-public-images.s3.eu-central-1.amazonaws.com/me/design/joys/joys-2.jpg">
        <div class="after">
          <h2 class="ordi">Joys<br><br><b>Kombuch</b></h2>
        </div>
      </div>
    </a>
    
    <a target="_blank" href="https://www.joyskombucha.be/" data-toggle="lightbox" data-lity class="link" >
      <div class="image-container">
        <img src="https://c00kiemonsta-public-images.s3.eu-central-1.amazonaws.com/me/design/joys/joys-3.jpg">
        <div class="after">
          <h2 class="ordi">Joys<br><br><b>Kombuch</b></h2>
        </div>
      </div>
    </a>
  
  </div>

  <div class="photo">
    
    <a target="_blank" href="https://www.joyskombucha.be/" data-toggle="lightbox" data-lity class="link" >
      <div class="image-container">
        <img src="https://c00kiemonsta-public-images.s3.eu-central-1.amazonaws.com/me/design/joys/joys-4.jpg">
        <div class="after">
          <h2 class="ordi">Joys<br><br><b>Kombuch</b></h2>
        </div>
      </div>
    </a>
    
    <a target="_blank" href="https://www.joyskombucha.be/" data-toggle="lightbox" data-lity class="link" >
      <div class="image-container">
        <img src="https://c00kiemonsta-public-images.s3.eu-central-1.amazonaws.com/me/design/joys/joys-5.jpg">
        <div class="after">
          <h2 class="ordi">Joys<br><br><b>Kombuch</b></h2>
        </div>
      </div>
    </a>
    
    <a target="_blank" href="https://www.joyskombucha.be/" data-toggle="lightbox" data-lity class="link" >
      <div class="image-container">
        <img src="https://c00kiemonsta-public-images.s3.eu-central-1.amazonaws.com/me/design/joys/joys-6.jpg">
        <div class="after">
          <h2 class="ordi">Joys<br><br><b>Kombuch</b></h2>
        </div>
      </div>
    </a>
  
  </div>

  <div class="photo">
    
    <a target="_blank" href="https://www.joyskombucha.be/" data-toggle="lightbox" data-lity class="link" >
      <div class="image-container">
        <img src="https://c00kiemonsta-public-images.s3.eu-central-1.amazonaws.com/me/design/joys/joys-7.jpg">
        <div class="after">
          <h2 class="ordi">Joys<br><br><b>Kombuch</b></h2>
        </div>
      </div>
    </a>
    
    <a target="_blank" href="https://www.joyskombucha.be/" data-toggle="lightbox" data-lity class="link" >
      <div class="image-container">
        <img src="https://c00kiemonsta-public-images.s3.eu-central-1.amazonaws.com/me/design/joys/joys-8.jpg">
        <div class="after">
          <h2 class="ordi">Joys<br><br><b>Kombuch</b></h2>
        </div>
      </div>
    </a>
    
    <a target="_blank" href="https://www.joyskombucha.be/" data-toggle="lightbox" data-lity class="link" >
      <div class="image-container">
        <img src="https://c00kiemonsta-public-images.s3.eu-central-1.amazonaws.com/me/design/joys/joys-9.jpg">
        <div class="after">
          <h2 class="ordi">Joys<br><br><b>Kombuch</b></h2>
        </div>
      </div>
    </a>
  
  </div>


</section>
