<section class="gallery-container">

  <div class="activity-row-2" style="margin-top: 32px;">
    <div class="text-container">
      <h1><b>Apple Pie.</b></h1>
      <br><br>
      <h2>One Apple (Pie) a day, keeps the doctor away!</h2>
    </div>
    <div class="image-container">
      <img src="assets/gallery/cooking-2.jpg" alt="">
    </div>
  </div>

  <div class="activity-row-1">

    <div class="left">
      <div class="image-container">
        <img src="assets/gallery/cooking-4.jpg" alt="">
      </div>
      <div class="text-container">
        <h1><b>Yule Log</b></h1>
        <h3>A perfect Christmas with a perfect yule log!</h3>
      </div>
    </div>

    <div class="right">
      <div class="image-container apple">
        <img src="assets/gallery/cooking-4.1.jpg" alt="">
        <img src="assets/gallery/cooking-4.2.jpg" alt="">
      </div>
      <div class="text-container">
        <h3>Vanilla and Hazelnuts for toppings...</h3>
      </div>
    </div>

  </div>

  <div class="activity-row-2" style="margin-top: 32px; margin-bottom: 32px;">
    <div class="text-container">
      <h1><b>Apple Turnover.</b></h1>
      <br><br>
      <h2>Homemade Apple Turnover!</h2>
    </div>
    <div class="image-container">
      <img src="assets/gallery/cooking-3.jpg" alt="">
    </div>
  </div>

</section>
