<section class="home-container">
  <div class="activity-row">

    <a routerLink="/leisure/gallery" (click)="setCookingUrls()" data-toggle="lightbox" data-lity class="link">
      <div class="image-container">
        <img src="assets/leisure/leisure-cooking.jpg" alt="cooking">
        <div class="after">
          <h2 class="image-title"><b>Cooking</b><br><br>Fond of Pastry</h2>
        </div>
      </div>
    </a>

    <a routerLink="/leisure/ui" target="_blank" class="link">
      <div class="image-container">
        <img src="assets/leisure/leisure-ui.jpg">
        <div class="after">
          <h2 class="image-title"><b>UI</b><br><br>Sketch/Illustrator</h2>
        </div>
      </div>
    </a>

  </div>

  <div class="activity-row">
    
    <a href="https://medium.com/@antoineboxho" target="_blank" data-toggle="lightbox" data-lity class="link">
      <div class="image-container">
        <img src="assets/leisure/leisure-stories.jpg">
        <div class="after">
          <h2 class="image-title"><b>Writing</b><br><br>Telling Stories</h2>
        </div>
      </div>
    </a>

    <a href="https://github.com/C00kieMonsta" target="_blank" class="link">
      <div class="image-container">
        <img src="assets/home/project-others.jpg">
        <div class="after">
          <h2 class="image-title"><b>GitHub</b><br><br>Code Portfolio</h2>
        </div>
      </div>
    </a>
  </div>
</section>
