/* You can add global styles to this file, and also import other style files */
html {
  box-sizing: border-box;
}

html, body {
  max-width: 100%;
  overflow:auto;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

body {
  color: #111;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

body.open {
  overflow: hidden;
  position: relative;
}

body.open:before {
  visibility: visible;
  background: linear-gradient(#2c3e50, #4ca1af);
  color: whitesmoke;
  opacity: 1;
}

@media screen and (min-width: 650px) {
  body.open:before {
    visibility: hidden;
    opacity: 0;
  }
}

body:before {
  content: "";
  position: absolute;
  background-color: white;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease;
}

h1 {
  text-transform: uppercase;
  font-weight: 800;
}

h2 {
  font-weight: 400;
}

p {
  margin: 0;
}
