<section class="home-container">
  <div class="activity-row">
    <a href="https://birdman-firebase.web.app/welcome" target="_blank" data-toggle="lightbox" data-lity class="link">
      <div class="image-container">
        <img src="assets/home/project-birdman.jpg" >
        <div class="after">
          <h2 class="image-title"><b>Birdman</b><br><br>Locate Birds</h2>
        </div>
      </div>
    </a>
    <a href="https://finmetrics.app" target="_blank" class="link">
      <div class="image-container">
        <img src="assets/home/project-finboard.jpg">
        <div class="after">
          <h2 class="image-title"><b>FinBoard</b><br><br>Digitize your processes</h2>
        </div>
      </div>
    </a>
  </div>
  <div class="activity-row">
    <a href="https://medium.com/takeo-engineering/improving-communication-within-the-digital-workplace-827015c9d84f" target="_blank" data-toggle="lightbox" data-lity class="link">
      <div class="image-container">
        <img src="assets/home/project-takeo.jpg">
        <div class="after">
          <h2 class="image-title"><b>Takeo</b><br><br>Reinvent Communication</h2>
        </div>
      </div>
    </a>
    <a href="https://github.com/C00kieMonsta" target="_blank" class="link">
      <div class="image-container">
        <img src="assets/home/project-others.jpg">
        <div class="after">
          <h2 class="image-title"><b>GitHub</b><br><br>Code Portfolio</h2>
        </div>
      </div>
    </a>
  </div>
</section>